@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

body {
    background-color: #84E1AD ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, #3ba140 , #174E30 70% );
    text-align: center;
    width: 100%;
}

nav > ul > li {
    display: inline-block;
}

main {
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: auto
}

#h1 {
    font-family: 'android';
    font-size: 1.6em;
    color: #174E30 ;
}

.h2 {
    font-family: 'android';
    font-size: 1.2em;
    color: #1b5c38 ;
    background-image: linear-gradient(to right, #84e1ac80, white);
}

p {
    text-indent: 30px;
}

.imagem {
    text-align: center;
}

article > div {
    background-color: #174E30;
}

aside {
    background-color: #84E1AD;
    border-radius: 20px;
    padding: 0px 15px 10px 15px
}

aside > h2 {
    background-color: #2FA866;
}